.dropdown {
    position: absolute;
    background: rgb(243, 240, 240);
    border: 1px solid #dcdcdc;
    border-radius: 0.25rem;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    margin-top: 0.5rem;
    z-index: 1000;
}

.dropdown-item {
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.dropdown-item:hover {
    background: #f3f3f3;
}